.navbar {
  display: flex;
  gap: 1rem;
}

.navbar > #assigned_to {
  width: 200px;
  border-radius: 1rem;
  border-width: 3px;
  background: none;
  font-size: 1.10rem;
  padding: 0.5rem;
}

.checkbox {
  display: block;
  position: relative;
  font-size: 18px;
  margin: 10px 0;
}

.navbar input {
  position: relative;
  left: 8px;
  top: 3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor: pointer;
}