.container {
    display: flex;
    align-items: center;
    min-height: 80px;
    border: 3px solid var(--primary);
    border-radius: 15px;
    gap: 1.5rem;
    background-color: white;
    cursor: pointer;
    padding: 10px;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.container > .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

}
.container > .icon {
    width: 70px;
    border-right: 3px solid var(--primary);
    padding-right: 10px;
}

.metaItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.label {
    font-weight: 600;
    color: #374151;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Status styles */

.status {
    width: 50px;
    height: 50px;
}

.status_todo {
    color: var(--status-todo);
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
}

.status_inprogress {
    color: var(--status-in-progress);
    background-color: var(--purple-50);
    border: 1px solid var(--purple-200);
}

.status_done {
    color: var(--status-done);
    background-color: var(--beige-50);
    border: 1px solid var(--beige-200);
}

/* Priority styles */

.priority {
    font-weight: 700; 
    text-transform: capitalize;
}
.priority-high { 
    color: var(--priority-high);
    background-color: var(--navy-50);
    border: 1px solid var(--navy-200);
}

.priority-medium { 
    color: var(--priority-medium);
    background-color: var(--purple-50);
    border: 1px solid var(--purple-200);
}

.priority-low { 
    color: var(--priority-low);
    background-color: var(--beige-50);
    border: 1px solid var(--beige-200);
}