.container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 1.5rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}